<div class="container mt-3">
  <div class="row">
      <div class="col-md-4" *ngFor="let item of projects">
          <div class="card p-3 mb-2">
              <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row align-items-center">
                      <div class="ms-2 c-details">
                          <h6 class="mb-0">#{{item.project_id}}</h6>
                      </div>

                  </div>
                  <div class="badge">
                    <a [routerLink]="['/user/project/',item.id, 'information']">
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
                          <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/>
                        </svg>
                      </span>
                    </a>
                   </div>
              </div>
              <div class="mt-3">
                  <h3 class="heading">{{item.name}}</h3>
                  <div class="mt-3">
                      <div class="progress">
                          {{item.status}}
                      </div>
                      <!-- <div class="mt-3"> <span class="text1">32 nugs <span class="text2">of 50 capacity</span></span> </div> -->
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
