<div style="text-align:right">
 <a routerLink='/admin/project/add'> <button class="btn btn-primary mt-2">Add</button></a>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 mt-2" *ngFor="let item of projects">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <hr />
          <p class="card-text">
            Deadline Date : {{ item.d_date | customDateFormat }}
          </p>
          <p class="card-text">Status : {{ item.status }}</p>
          <div class="d-flex" style="justify-content:space-between">
          <a href="#" class="btn btn-primary">Information</a>
          <button
          [routerLink]="'/admin/project/' + item.id + '/edit'"
          class="btn btn-primary mx-3"
        >
          Edit
        </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
