<div class="row card mt-5">
  <div class="card-header">
    All Projects
  </div>
  <div style="text-align: right" class="mt-2">
    <a routerLink='/admin/project/add'><button class="btn btn-primary">Add</button></a>
  </div>
  <div class="p-3">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
       <tr>
        <td>#16666</td>
        <td>Dummy</td>
        <td>Active</td>
        <td>Action</td>
       </tr>
      </tbody>
    </table>
  </div>

</div>
